:root {
    --major-color: #2E473B;
    --minor-color: #F1EFC1;
    --prop-color: #EAB28A;
}


@media (max-width: 390px) {

    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Playfair Display', serif;
    }
    
    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--major-color);
    }

    .container i {
        color: var(--prop-color);
    }

    .container a {
        text-decoration: none;
    }

    .container li {
        list-style: none;
    }

    /* 00.0 start animate page */

    .start-wrap {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--minor-color);
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        display: none;
    }

    .start-wrap h1 {
        color: var(--major-color);
        font-size: 5rem;
    }

    /* 00.1 hamburger */

    .nav-hamburger {
        position: fixed;
        top: 1.5%;
        right: 3%;
        width: 30px;
        height: 60px;
        cursor: pointer;
        z-index: 16;
        opacity: 0.5;
        transition: .5s ease;
    }

    .nav-hamburger:hover {
        opacity: 1;
    }

    .hamburger-box {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid var(--minor-color);
        border-radius: 120px;
        opacity: .6;
    }

    .line-1,
    .line-2 {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 40%;
        left: 25%;
        background-color: var(--minor-color);
        border-radius: 50%;
        transition: .5s ease;
    }

    .change .line-1 {
        transform: translateY(-6px);
        background-color: transparent;
        border-radius: 50%;
        border-bottom: 2px solid var(--minor-color);
    }
    
    .change .line-2 {
        transform: translateY(6px);
        background-color: transparent;
        border-radius: 50%;
        border-top: 2px solid var(--minor-color);
    }

    /* window don't have hover */
    .nav-text {
        display: none;
    }

    .wrapped-navbar {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--major-color);
        position: fixed;
        inset: 0 0 0 0;
        z-index: 12;
        transition: .5s ease-in;
        transform: translate3d(0, -100%, 0);
        gap: 5%;
    }

    .change .wrapped-navbar {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        background-color: var(--major-color);
        position: fixed;
        z-index: 14;
        transform: translate3d(0, 0, 0);
        transition: .5s;
        opacity: 1;
    }

    .wrapped-navbar a {
        text-align: center;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--minor-color);
        font-size: 90px;
        width: 100%;
        position: relative;
        opacity: 1;
        transition: 1s ease;
    }

    .wrapped-navbar a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--minor-color);
        opacity: .7;
    }

    .wrapped-navbar a:hover {
        color: var(--minor-color);
        -webkit-text-stroke-width: none;
        -webkit-text-stroke-color: none;
        transition: 1s ease;
    }

    /* 00.2 guider part */

    .guider {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2rem;
        margin-top: 0;

    }

    .guider h5 {
        font-size: 1rem;
        font-weight: lighter;
        color: var(--minor-color);
        
    }

    /* 01 welcome page */

    .welcome-page-container {
        max-width: 100vw;
        height: 100vh;
        position: relative;
        margin-bottom: 5rem;
    }

    .website-name {
        position: relative;
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .welcome-text-container {
        position: absolute;
        gap: 1px;
        width: 100vw;
        top: 6rem;

    }
    
    .welcome-text-container h1 {
        font-size: 4rem;
    }

    .napatt {
        margin-right: 10rem;
        padding-bottom: 0;
    }

    .portfolio {
        margin-left: 10rem;
    }


    .patt-img {
        position: absolute;
        max-width: 100%;
        height: 38rem;
        background-color: transparent;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -0.4rem;
    }

    .patt-img .img-box {
        max-width: 19rem;
        height: 38rem;
        background-color: var(--prop-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 500px;
        overflow: hidden;
        position: relative;
    }

    .patt-img .img-box img {
        max-width: auto;
        height: 38rem;
        position: absolute;
        right: -280px;
        mix-blend-mode: darken;
        filter: brightness(86%) contrast(96%) saturate(130%);
    }

    .scroll-container {
        position: absolute;
        z-index: 4;
        width: 13rem;
        height: 13rem;
        top: 40rem;
        left: 1rem;
    }

    .wrap-box-scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--major-color);
    }

    

    /* 01 About page */

    .about-page-container {
        max-width: 100vw;
        height: 220vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section-container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .about-section-container h2 {
        font-size: 40px;
        color: var(--minor-color);
        font-weight: lighter;
        font-style: italic;
    }

    .about-section-container h4 {
        font-size: 14px;
        color: var(--minor-color);
        font-weight: lighter;
    }

    .about-section {
        max-width: 100%;
        height: 105vh;
    }

    .about-section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-top: 3rem;
    }

    .about-section-1 .img-box-1 {
        max-width: 80%;
        height: 40vh;
    }

    .about-section-1 .img-box-1 img {
        max-width: 100%;
        height: auto;
    }

    .text-box {
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 6;
    }

    .text-box .text h2 {
        margin-bottom: 1rem;
    }

    .about-section-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5rem 0 0 0;
        position: relative;
    }

    .about-section-2 .img-box-2 {
        max-width: 80vw;
        height: 50vh;
        bottom: 0;
    }

    .about-section-2 .img-box-2 img {
        max-width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4;
    }

    #boy {
        width: 67%;
        height: auto;
        bottom: -8%;
        right: -15%;
    }

    #book {
        width: 40%;
        height: auto;
        bottom: 40%;
        left: 3%;
    }
    
    #pencil {
        width: 3%;
        height: auto;
        top: 30%;
        left: 40%;
        transform: rotate(25deg);
    }
    
    #card {
        width: 4%;
        height: auto;
        top: 24%;
        left: 52%;;
        transform: rotate(-25deg);
    }
    
    #ball {
        width: 30%;
        height: auto;
        top: 23%;
        right: 14%;
        transform: rotate(30deg);
        opacity: .7;
    }
    
    #jeff {
        width: 20%;
        height: auto;
        top: 10%;
        right: -1%;
        transform: rotate(45deg);
    }

    /* o2 project page */

    .project-page-container {
        width: 100vw;
        height: 120vh;
        z-index: 12;
        display: flex;
        color: var(--minor-color);
        padding: 2.5rem 0;
    }

    .project-page-container a {
        color: var(--minor-color);
    }

    .project-section-container-parent h1 {
        font-size: 2.5rem;
        font-weight: lighter;
        font-style: italic;
    }

    .project-section-container-parent h2 {
        font-size: 2.5rem;
        font-style: italic;
        font-weight: lighter;
    }

    .project-section-container-parent h3 {
        font-size: 1.3rem;
        font-style: italic;
        font-weight: lighter;
    }

    .project-section-container-parent h4 {
        font-size: .7rem;
        font-weight: lighter;
    }

    .project-section-container-parent h5 {
        font-size: .5rem;
        font-weight: lighter;
    }

    .project-section-container-parent {
        width: 100%;
        height: 100%;
    }

    .project-header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-section-container {
        width: 100vw;
        height: 77vh;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .project-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--minor-color);
        gap: 1.2rem;
        text-align: center;
        position: relative;
    }

    .project-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        z-index: 4;
        width: 100%;
    }

    .head-text-project-1 {
        line-height: 1.5rem;
    }

    .head-text-project-1 h3 {
        text-align: right;
        padding-right: .3rem;
    }

    .project-split-line {
        display: none;
    }

    .project-img {
        max-width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        opacity: .5;
    }

    .project-section-container img {
        max-width: 100%;
        height: auto;
        transform: scale(2);
    }

    .explore-button {
        width: 3.5rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--minor-color);
        border-radius: 20px;
        transition: 1s ease;
        cursor: pointer;
    }

    .explore-button:hover {
        background-color: var(--minor-color);
    }
    
    .explore-button:hover h5 {
        color: var(--major-color);
    }
    
    .explore-more {
        width: auto;
        padding: 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explore-more h4 {
        color: var(--prop-color);
    }

    .mostof {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mostof h4 {
        font-size: .6rem;
        opacity: .7;
    }

    /* 03 self-interest page */

    .selfin-page-container {
        width: 100vw;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .selfin-section-container-parent {
        width: 100%;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--minor-color);
    }

    .selfin-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .selfin-section-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }


    .selfin-section-container-parent a {
        color: var(--minor-color);
    }
    

    .selfin-section-header h1 {
        font-size: 3rem;
        text-align: right;
        line-height: 2.2rem;
        font-weight: lighter;
        font-style: italic;
    }

    .selfin-section-container h2,
    .selfin-section-container h4,
    .selfin-section-container-parent > footer h4,
    .selfin-section-container-parent i {
        text-align: center;
        font-weight: lighter;
        text-align: center;
    }

    .selfin-section-text h2 {
        margin-bottom: 1rem;
        font-style: italic;
    }

    .selfin-section-container h2 {
        font-size: 1.5rem;
    }

    .selfin-section-container-parent h4 {
        font-size: 0.8rem;
    }

    .selfin-section-container-parent footer {
        margin-top: 2rem;
    }

    .selfin-section-img {
        width: 100%;
        height: auto;
    }

    .selfin-section-img img {
        width: 100%;
        height: auto;
    }

    .selfin-page-container footer {
        gap: 1rem;
    }

    .explore-asrook-btn {
        margin-top: 1rem;
    }

    .explore-asrook-btn h4 {
        color: var(--prop-color);
    }

    /* 04: contact page */

    .contact-page-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        padding: 0;
    }

    .contact-blog-container {
        width: 100%;
        height: 100%;
        z-index: 12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        color: var(--minor-color);
        margin-bottom: 5rem;
        padding: 0;
    }

    .contact-blog-container h3 {
        font-size: 2rem;
        font-weight: lighter;
        font-style: italic;
    }

    .contact-blog-container h4 {
        font-size: 1.2rem;
        font-weight: lighter;
    }

    .social-media ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    .social-media li {
        width: auto;
        height: 50%;
    }

    .social-media ul img {
        width: auto;
        height: 3rem;
        opacity: .7;
        transition: .5s ease;
    }

    #email::after {
        display: none;
    }

    .click-circle {
        display: none;
    }

    .hand-img {
        width: 100%;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -3%;
        left: 0%;
    }

    .hand-img img {
        max-width: 100%;
        height: auto;
    }


}